#include "resource.h"
#include "winres.h"

IDI_MAIN                ICON    DISCARDABLE     "main.ico"

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 142, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "About Symbolic Calculator"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,46,49,50,14
    CTEXT           "Bartosz Milewski © 2000",IDC_STATIC,10,33,121,14
    ICON            IDI_MAIN,IDC_STATIC,60,7,20,20
END

IDD_SAVE DIALOG DISCARDABLE  0, 0, 186, 58
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Save Memory to a File"
FONT 8, "MS Sans Serif"
BEGIN
    EDITTEXT        IDC_EDIT,7,19,172,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,7,37,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,129,37,50,14
    LTEXT           "File Path:",IDC_STATIC,7,7,120,11
END

IDD_LOAD DIALOG DISCARDABLE  0, 0, 173, 194
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Load Memory from a File"
FONT 8, "MS Sans Serif"
BEGIN
    LISTBOX         IDC_LIST,7,26,159,142,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,7,173,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,116,173,50,14
    LTEXT           "Drive and Path",IDC_STATICPATH,7,7,159,14,SS_SUNKEN
END
